@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: limegreen;
  overflow-x: hidden;
  color: darkgreen;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: limegreen;
  border: lightgreen solid 2px;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  font-size: 16px;
color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul.topnav li a:hover:not(.active) {
  background-color: white;
  color: black;
}

ul.topnav li a.active {
  background-color: lightgreen;
  color: black;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.moin {
  font-weight: bold;
  font-size: 20px;
  padding: 50px;
  background: lightgreen;
  margin-top: 5%;
  width: 50%;
}
.countdown{
  padding: 40px;
  width: 50%;
  margin-right: 0;
  margin-left: auto;
  background: lightgreen;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
.news {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.newsroom {
  color: darkgreen;
  background-color: lightgreen;
  text-align: left;
  font-weight: bold;
  text-align: center;
  width: 50%;
  padding: 5%;
  margin: 0.5%;
}
.imagerandom-container {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.imagerandom {
  background-color: lightgreen;
  padding: 10px;
  width: 100%;
}
.imagerandom > img {
width: 50%;
border: darkslateblue solid 5px;
}

.down {
  background: lightgreen;
  font-weight: bold;
  display: flex;
  margin: 90% 0% 1% 0%;
}
.down > div {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* Blog Styling */
.articlebox{
  width: auto;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 20px;
  background-color: green;
  padding: 10px;
} 
.articlebox > div{
  background-color: white;
  color: black;
  border: lightgray solid 2px;
  text-align: left;
  padding: 100px;
}
.article1 { grid-area: header; }
.article2 { grid-area: menu; }
.article3 { grid-area: main; }
.article4 { grid-area: right; }
.article5 { grid-area: footer; }


/* Private Styling */
@media screen and (max-width: 600px) {
  input[type="password"] {
    width: 100%;
  }
}
input[type="password"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Me styling */
.who{
  background-color: darkgreen;
  border: lightgray solid 3px;
  padding: 30px;
  margin-top: 10px;
}
.list{
  background-color: darkgreen;
  border: lightgray solid 3px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.list > table{
  width: 100%;
  border-collapse: collapse;
  padding: 15px;
}
td{
  padding: 15px;
}
.friends{
  background-color: darkgreen;
  border: lightgray solid 3px;
  padding: 30px;
}
.friends > img{
  width: 100%;
}
.friendnames{
  display: flex;
  flex-direction: row;
}
.friendnames > div{
  margin-right: 9%;

}
.other{
  background-color: darkgreen;
  border: lightgray solid 3px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.music-film{
  background-color: darkgreen;
  border: lightgray solid 3px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

