@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
  margin: auto;
}
.colorbody-index {
  background-color: limegreen;
  color: darkgreen;
}
.colorbody-blog{
  background-color:dodgerblue;
  color: blue;
}
.colorbody-advice{
  background-color: orange;
  color: black;
}
.colorbody-me{
  background-color: mediumorchid;;
  color: black;
}
.colorbody-private{
  background-color:red;
  color: black;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 2%;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  font-size: 16px;
color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul.topnav li a:hover:not(.active) {
  background-color: white;
  color: black;
}

ul.topnav li a.active {
  background-color: lightslategray;
  color: white;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.moin {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  width: 50%;
}
.moin2{
  margin-top: 2%;
  padding: 40px;
  width: 50%;
  margin-right: 0;
  margin-left: auto;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2%;
}
.news {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.newsroom {
  background-color: lightgreen;
  text-align: left;
  font-weight: bold;
  text-align: center;
  width: 50%;
  padding: 5%;
  margin: 0.5%;
}
.imagerandom-container {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.imagerandom {
  background-color: lightgreen;
  padding: 10px;
  width: 100%;
}
.imagerandom > img {
width: 50%;
border: darkslateblue solid 5px;
}

.down {
  background: lightslategray;
  font-weight: bold;
  display: flex;
  margin: 5% 0% 0% 0%;
  border: blanchedalmond solid 3px;
  color: black;
  flex-wrap: wrap;
}
.down > div {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.knöpfe-container{
  display: flex;
  flex-direction: row;
}
.knöpfe-container > div {
  background-color: yellow;
  width: 33%;
}
.knöpfe-container > div > button {
  background-color: red;
  margin: 30px;
  width: 80%;
  height: 70%;

}
/* Blog Styling */
.articlebox{
  width: auto;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 20px;
  padding: 10px;
} 
.articlebox > div{
  text-align: left;
  padding: 100px;
}
.article1 { grid-area: header; background-image: url("https://cdn.pixabay.com/photo/2016/08/05/09/31/banner-1571858_1280.jpg");}
.article2 { grid-area: menu; background-color: lightskyblue;}
.article3 { grid-area: main; background-color: lightskyblue;}
.article4 { grid-area: right; background-color: lightskyblue;}
.article5 { grid-area: footer; background-color: lightskyblue;}


/* Private Styling */
@media screen and (max-width: 600px) {
  input[type="password"] {
    width: 100%;
  }
}
input[type="password"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Me styling */
.who{
  background-color:rgb(216, 137, 213);
  padding: 30px;
  margin-top: 10px;
}
.list{
  background-color: rgb(216, 137, 213);
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.list > table{
  width: 100%;
  border-collapse: collapse;
  padding: 15px;
}
td{
  padding: 15px;
}
.friends{
  background-color: rgb(216, 137, 213);
  padding: 30px;
}
.friends > img{
  width: 100%;
}
.friendnames{
  display: flex;
  flex-direction: row;
}
.friendnames > div{
  margin-right: 9%;

}
.other{
  background-color: rgb(216, 137, 213);
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.music-film{
  background-color: rgb(216, 137, 213);
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Advice styling */
.advices{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.advices > div {
  background-color: rgb(255, 223, 204);
  padding: 1% 5% 1% 1%;
  width: 100%;
  margin-bottom: 1.5%;
  color: black;
  font-weight: bolder;
}
/* Knoten Styling */
.forderungen {
  padding: 2%;
  background-color: green;
}