<div class="toprandom-i">
    <div id="ausgabe">
        <img height="120px" id="ausgabe-bild" src="/images/headers/header_prototype.jpg" />
    </div>
    <input class="random-button" type="image" src="images/icons/Dice_icon.png" onclick="random_header_image()">
</div>