body {
  font-family: sans-serif;
  background-color: chartreuse;
  border: lightgray solid 10px;
}
img{
  width: 100%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: limegreen;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul.topnav li a:hover:not(.active) {
  background-color: white;
  color: black;
}

ul.topnav li a.active {
  background-color: lightgreen;
  color: black;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
