body {
  font-family: sans-serif;
  background-image: url("cool-background.png");
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: limegreen;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul.topnav li a:hover:not(.active) {
  background-color: white;
  color: black;
}

ul.topnav li a.active {
  background-color: lightgreen;
  color: black;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
.MOIN {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 50px;
  border: 5px solid lightgray;
  background: rgb(8, 88, 7);
  margin-top: 30px;
}
.news {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.newsroom {
  border: 5px solid lightgray;
  color: white;
  background-color: black;
  padding: 20%;
  text-align: left;
}
.down {
  background: darkgreen;
  color: white;
  font-weight: bold;
  display: flex;
  margin: 90% 0% 1% 0%;
}
.down > div {
  border: 5px solid red;
}
