@import 'fonts';

/* #region Variables */
$green: #685ec3;
$light-blue: #685ec3;
$indigo: #685ec3;
$red: #E30613;
$pink: #E32DDD;
$black: #000;
$white: #fff;
$transparentforest: rgba(34, 139, 34, 0.849);
$space: rgb(0, 0, 53);
/* #endregion */

/* #region Reset */
a {
    text-decoration: none;
}

* {
    box-sizing: border-box
}

input[type=text]:focus {
    outline: none;
}

/* #endregion */

/* #region General Styling */
body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: white;
    color: black;
    text-align: center;
}

.inhalt-desk {
    background-color: white;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    .inhalt-desk {
        background-color: black;
    }

}

/* #endregion */

/* #region Utility Classes */
.separator {
    color: pink;
    margin-top: 4%;
    margin-bottom: 7%;
    border: 5px solid $green;
}

.underline {
    text-decoration: underline;
}

/* #endregion */

/* #region Responsive design */
.errormobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 5px;
        margin: 0;
        font-size: xx-large;
    }

    .inhalt-desk {
        width: 100% !important;
        margin: 0 !important;
    }

    #ausgabe {
        display: none;
    }

    .random-button {
        display: none;
    }

    ul#nav {
        display: none;
    }

    #mobilenav {
        display: block !important;
    }

    .tools-i {
        display: block !important;
    }

    .projectpreview-i {
        display: block !important;
    }

    .projectpreview-i {
        div {
            width: 100% !important;
        }
    }

    .text-i {
        font-size: 30px !important;
    }
}

/* #endregion */

/* #region Navigation */

#mobilenav {
    display: none;
    background-color: $green;
    padding: 50px;

    img {
        height: 100px;
    }
}

ul {
    &#mobilenav-ul {
        display: none;
        list-style: none;
        font-size: 100px;

        li {
            a {
                span {
                    color: white;
                }
            }
        }
    }

    &#nav {
        list-style-type: none;
        margin: 0;
        height: fit-content;
        overflow: hidden;
        background-color: $green;
        top: 0;
        box-shadow: 0px 2px 10px black;
        padding-left: 15%;
        padding-right: 15%;

        li {
            float: left;

            &.right {
                float: right;
            }

            a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                border-bottom: 4px solid transparent;

                &.active {
                    border-bottom: 4px solid white;
                }

                &:hover {
                    border-bottom: 4px solid white;
                    text-decoration: none;
                }

                span {
                    color: white;
                    font-size: xx-large;
                    padding: 5px;
                }

                img {
                    width: auto;
                    height: 33px;
                    background-color: $green;
                }
            }
        }
    }
}

/* #endregion */

/* #region HOME: Introduction */
.intro-i {
    text-align: center;
    color: $green;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 7%;
    margin-bottom: 7%;
}

/* #endregion */

/* #region HOME: Tools */
.tools-i {
    display: flex;
    background-color: $green;
    border-radius: 25px;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 10%;
    margin-top: 10%;
    color: #191919;
    font-weight: bold;

    img {
        height: 100px;
        margin-left: 1%;
    }

    h2 {
        margin-right: auto;
        margin-left: 3%;
    }
}

/* #endregion */

/* #region HOME: Blog */
.blog-preview-container {
    margin-top: 10%;

    h2 {
        text-align: left;
        color: $indigo;
    }

    .blog-preview-i {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin: 10px;

        div {
            flex: 0 0 calc(33.3% - 10px);
            text-align: left;
            margin-bottom: 1%;

            p {
                width: 80%;
            }

            img {
                width: 80%;
            }

            a {
                color: $indigo;
            }
        }
    }
}

/* #endregion */

/* #region HOME: Project preview */
.projectpreview-container {
    margin-top: 10%;

    h2 {
        color: $indigo;
        text-align: left;
    }

    .projectpreview-i {
        display: flex;
        padding: 10px;
        justify-content: left;
        flex-wrap: wrap;

        div {
            margin-left: 2px;
            margin-right: 2px;
            width: 20%;
            font-size: 90%;

            h2 {
                color: black;
            }

            img {
                margin-top: 10px;
                width: 50%;
            }
        }

        // individual projects
        .projectpreview-i-1 {
            background-color: $red;
            border: whitesmoke solid 4px;
            padding: 0 20px 0 20px;

            a {
                &:link {
                    color: whitesmoke;
                    background-color: transparent;
                    text-decoration: none;
                }

                &:visited {
                    color: whitesmoke;
                    text-decoration: none;
                }
            }
        }

        .projectpreview-i-2 {
            color: black;
            background-image: url('/images/writings.jpg');
            border: black solid 4px;
            padding: 0 20px 0 20px;

            a {
                &:link {
                    color: black;
                    background-color: transparent;
                    text-decoration: none;
                }

                &:visited {
                    color: black;
                    text-decoration: none;
                }
            }
        }

        .projectpreview-i-3 {
            background-color: #5ea74b;
            border: $pink solid 4px;
            padding: 0 20px 0 20px;

            a {
                &:link {
                    color: $pink;
                    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
                    background-color: transparent;
                    text-decoration: none;
                }

                &:visited {
                    color: $pink;
                    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

/* #endregion */

/* #region "down" aka Footer */
.down-accounts {
    display: flex;
    justify-content: center;
    a {
        img {
            width: 60%;
        }
    }
}

.down {
    background-color: $green;
    display: grid;
    margin-top: 10%;
}

.down-list {
    list-style-type: none;
}

/* #endregion */

/* #region links */
.links {
    a {
        img {
            width: 5%;
        }
    }
}

/* #endregion */


/* #region BLOG */
.fun-b {
    display: flex;
    background-color: dodgerblue;
    width: 46%;
    margin-left: 28%;
    margin-left: 28%;

    div {
        input {
            width: 100px;
        }
    }
}

/* #endregion */

/* #region JungedForscht-Blog */
.body-jfblog {
    background-image: url('https://cdn.pixabay.com/photo/2014/04/16/17/08/bulletin-board-325721_1280.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.inhalt-jfblog {
    color: $red;
    background-color: rgba(255, 255, 255, 0.795);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: red solid 5px;
    border-radius: 10px;
    box-shadow: 0 0 2em black;
    margin-bottom: 4%;
    padding: 2%;
    font-size: large;

    button {
        background-color: $red;
        border: white solid 5px;
        padding: 1%;
        color: white;
    }

    img {
        width: 100%;
        height: auto;
        border: $red solid 4px;
    }
}

/* #endregion */

/* #region Rosalinde-Blog*/
.v-body {
    color: black;
    background-color: white;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    a {
        color: deeppink;
        text-decoration: underline;
    }

    li {
        list-style-type: none;
    }
}

.to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    font-size: x-large;
    background-color: deeppink;
    color: #cccccc !important;
}

.v-overview {

    h1,
    div {
        background-color: #cccccc;
        padding: 10px;
    }

    h1 {
        border-width: 2px 0 2px 0;
        color: deeppink;
    }

    div {
        margin: 10px;
        text-align: left;
        width: fit-content;
    }

    .v-topics {
        font-weight: bolder;
        font-size: large;
    }

}

#v-recipes {
    h1 {
        padding: 10px;
        border-width: 2px 0 2px 0;
    }

    .v-container {
        background-color: #cccccc;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1rem;
        gap: 1rem;

        div {
            width: 20%;
        }
    }

    dl,
    h2 {
        text-align: left;
        margin: 10px;
    }
}

#v-climate,
#v-recipes,
#v-health,
#v-news,
#v-events,
#v-furtherreading {
    h1 {
        background-color: #cccccc;
        padding: 10px;
        border-width: 2px 0 2px 0;
        color: deeppink;
    }
}


/* #endregion */

/* #region ABOUTME */
.title-m {
    color: $indigo;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.profile-m {
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    tab

    details {
        background-color: $indigo;
        color: $black;
        font-size: xx-large;
        font-weight: bolder;
        width: 29%;
        margin: 1%;
        padding: 1%;
        font-family: Verdana;
        font-weight: bolder;

        summary {
            color: $white;
        }
    }
}
/* #endregion */

/* #region ARTICLES */
.article-a-b {
    background-color: $light-blue;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;

    div {
        width: 50%;
        padding: 4px;
    }

    img {
        width: 100%;
        margin: 1%;
        border: black solid 10px;
    }
}

.article-c-b {
    background-color: $light-blue;
    border-radius: 25px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

    img {
        width: 90%;
        margin: 1%;
        border: yellow solid 10px;
    }

    h1 {
        font-size: 100px;
    }

    .kreis-c-b {
        border-radius: 100px 100px 100px 100px;
        padding: 100px;
        background-color: yellow;
        height: 50%;
    }
}

/* #endregion */

/* #region PROJECTS */
.projects {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .title-p {
        background-color: $indigo;
        padding: 2%;
        color: black;
    }

    .projektschau-p {
        display: flex;
        margin-bottom: 2%;

        .projektschau-p-item {
            background-color: $indigo;
            margin-left: 6%;
            padding: 2%;
            color: white;
        }

        div {
            margin-bottom: 2%;
        }
    }

    .projektschau-p-jfn {
        color: white;
        background-color: red;
        border: white solid 5px;
        font-weight: bolder;
    }

    .projektschau-p-ks {
        background-image: url(/images/writings.jpg);
        color: darkblue;
        font-weight: bolder;
        border: darkblue solid 5px;
    }
}

/* #endregion */

/* #region HACKERMAN :) */
.console-container-a {
    width: 98%;
    background-color: black;
    margin: 1%;
}

.console-header-a {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: black;
    font-weight: bolder;
    padding: 1%;
}

#comandline-a input[type=text] {
    margin-top: 1%;
    margin-bottom: 10%;
    color: white;
    border: none;
    background-color: black
        /*lives matter*/
    ;
    font-family: 'Courier New', Courier, monospace;
}

.info-advice-a {
    display: none;
}

.music-advice-a {
    display: none;
}

.video-advice-a {
    display: none;
}

.text-advice-a {
    display: none;
}

.recipe-advice-a {
    display: none;
}

/* #endregion */


/* #region Dom */
.dom-liste {
    li {
        margin-bottom: 5%;

        img {
            width: 60%;
        }
    }
}

/* #endregion */

/*#region Niederlande*/
div#comparison {
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
}

div#comparison figure {
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

div#comparison figure>img {
    position: relative;
    width: 100%;
}

div#comparison figure div {
    background-size: cover;
    position: absolute;
    width: 50%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
}

input[type=range] {
    appearance: none;
    position: relative;
    top: -2rem;
    left: -2%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 102%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:active {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    height: 15px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    outline: none;
}

input[type=range]::active {
    border: none;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 15px;
    background: #fff;
    border-radius: 0;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 20px;
    height: 15px;
    background: #fff;
    border-radius: 0;
}

input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(255, 255, 255, 0.5);
}

input[type=range]:focus::-moz-range-thumb {
    background: rgba(255, 255, 255, 0.5);
}

/* #endregion */

.article-ba {
    font-size: x-large;
    text-align: left;
    width: 95%;
    margin-left: 4%;
    margin-right: 4%;

    h1 {
        margin-left: 5%;
        margin-bottom: 0;
    }
}

.trenner-ba {
    color: $light-blue;
    border: $light-blue solid 5px;
    margin-bottom: 5%;
}

.bildunduntertitel-ba {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 40%;
        border: $light-blue solid 5px;
    }

    span {
        width: 40%;
        margin-left: 5%;
        color: $light-blue;
        font-weight: bold;
    }
}

.tweet-ba {

    img {
        width: 50px;
        background-color: white;
        border-radius: 15px;
    }
}

.mail-ba {
    img {
        width: 50px;
        background-color: rebeccapurple;
        border-radius: 15px;
    }
}

.link-ba {
    cursor: pointer;

    img {
        width: 50px;
        background-color: greenyellow;
        border-radius: 15px;
    }
}

.climateclock {
    background: linear-gradient(to top, red, orange);
}

.body-kgblog {
    padding: 0;
    margin: 0;
}

.inhalt-kgblog {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgflip.com%2F4wxw0h.jpg&f=1&nofb=1);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;

    .top-kg,
    .artikel-kg {
        margin-left: 7.5%;
        margin-right: 7.5%;
        border-radius: 20px;
    }

    .top-kg {
        background-color: $transparentforest;
        margin-bottom: 5%;
    }

    .artikel-kg {
        background-color: $transparentforest;
        color: white;
        width: 85%;
        padding: 2%;
        margin-bottom: 5%;

        hr {
            color: white;
            border: #f2f2f2 solid 3px;
            border-radius: 50px;
        }

        .container-artikel-kg {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            img {
                width: 60%;
            }

            table,
            th,
            td {
                border: 1px solid white;
                border-collapse: collapse;
                padding: 10px;
            }
        }
    }
}

/* #region Präsentationen*/
.anfangsfolie-ppp {
    display: none;

    h1 {
        font-size: xxx-large;
    }

    button {
        font-size: xxx-large;
        padding: 2% 5% 2% 5%;
    }
}

.folie-ppp {
    .inhaltfolie-ppp {
        width: 100%;
        height: auto;
        position: relative;
    }

    .left-arrow-ppp,
    .right-arrow-ppp {
        position: absolute;
        bottom: 230px;
        background-color: #029E2C;
    }

    .left-arrow-ppp {
        left: 10px;
    }

    .right-arrow-ppp {
        right: 10px;
    }
}

.rainbow p {
    animation-name: rainbow;
    animation-duration: 2s;
}

@keyframes rainbow {
    from {
        text-shadow: 0 0 100px $red;
    }

    to {
        text-shadow: 0 0 100px $pink;
    }
}

/* #endregion */

/* #region Passwortprüfer */
.prüfer {
    div {
        display: none;
    }

    #passworteingabe {
        border: blue solid 5px;
        border-radius: 10px;
    }

    font-size: 20px;

    .schwach {
        background-color: red;
    }

    .mittel {
        background-color: yellow;
        color: red;
    }

    .stark {
        background-color: lime;
        color: black;
    }
}


/* #endregion */

/*#region THANKS TO ODINCAT!!! GOOD WORK!*/