body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  background-color: red;
}
.nav {
  width: 1835px;
  position: top;
}
.inhalt {
  background-color: white;
  padding: 4%;
  width: auto;
  margin-left: 4%;
  margin-right: 4%;
  border: gray solid 10px;
  text-align: center;
}
h1 {
  text-decoration: underline;
}
strong {
  text-decoration: underline;
}
.stand {
  width: 1700px;
}
.vv-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.vv-container > div {
  width: 40%;
  padding: 5%;
}
.vv-image {
  width: 100%;
  border: gray solid 9px;
}