---
export interface Props {
    href: string;
}
const { href } = Astro.props;

// Wir nehmen hier den Pfadnamen von Astro, weil wir diesen Code ja auf dem Server / beim kompilieren ausführen. Dort haben wir keinen Zugriff auf die Browserfunktion "window.location.pathname"
const path_name = new URL(Astro.request.url).pathname;
---
<li>
    <a class={path_name.toLowerCase() === href.toLowerCase() ? 'active' : ''} href={ href }>
        <span>
            <slot />
        </span>
    </a>
</li>