---
import Footer from '../components/Footer.astro';
import Header from '../components/Header/Header.astro';

import '../styles/style.scss';

export interface Props {
	title: string;
}
const { title } = Astro.props;

// JS Datums-Chaos, TODO
// const current_year = new Date().getFullYear();

// interface Favicon {
// 	href: string;
// 	day: Date;
// }
// const favicons: Favicon[] = [
// 	{
// 		// Tag der Arbeit
// 		href: '/images/logos/arbeit_logo.jpg',
// 		day: new Date(current_year, 4, 1) 
// 	},
// 	{
// 		//Mondlandung
// 		href: '/images/logos/mond_logo.jpg',
// 		day: new Date(current_year, 6, 16) 
// 	},
// 	{
// 		// Tag der Deutschen Einheit
// 		href: '/images/logos/einheit_logo.jpg',
// 		day: new Date(current_year, 11, 18)
// 	},
// 	// Niedersachsenwahl ausgelassen, weil nicht aktuell und externe Ressource 
// 	{
// 		// Earth day
// 		href: 'images/logos/world_logo.jpg',
// 		day: new Date(2023, 4, 22)	
// 	},
// 	// Retro Logo überflüssig, weil es bereits das Standard-Favicon ist
// ];

// const get_favicon: () => string = () => {
// 	const today = new Date().setHours(0, 0, 0, 0);
// 	console.log(today);

// 	const index = favicons.findIndex(favicon => {console.log(favicon.day.setHours(0, 0, 0, 0) )});

// 	if (index === -1) return '/favicon.jpg';

// 	return favicons[index].href;
// };
// const favicon = get_favicon();

---

<html lang="de">
	<head>
		<title>{ `Hoffsite // ${title}` }</title>
		<meta charset="utf-8" />
		<meta name="title" content={`Hoffsite // ${title}`}>
		<meta name="description" content="Die Seite von hfflx.">
		<meta name="keywords" content="hfflx, Simon hfflx, Simon Buchholz, Hoffalex">
		<meta name="author" content="hfflx">
		<link rel="shortcut icon" type="image/jpg" href="/favicon.jpg" />
		<script src="../scripts/utils.js" defer></script>
	</head>

	<body>
		<div class="inhalt-desk">
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>